body{
    width:100%;/*El ancho de la pantralla es 1920px*/
    margin: 0;
    padding: 0;
}

header{
    width: 62.5%; /* 1200 * 100 / 1920 = 62.5%*/
    height: 120px;
    background-color: blue;
    text-align: center;

    h1{
        padding: 2.1875rem 0px 0px 0px; /* 35px si 1rem = 16px  35/16 = 2.1875*/
    }
}

nav{
    width: 62.5%;/* 1200 * 100 / 1920 = 62.5%*/
    height: 60px;
    background-color: rgb(99, 99, 199);

    ul{
        display: flex;
        flex-direction: row;
        gap: 1.67%;
        list-style: none;
        margin: 0;
        padding: 1.67% 0px 0px 0px;
        justify-content: center;

        li {
            flex: 1 1 16.66%; /* grow, shrink, basis. */
            text-align: center;
        }
    }
}

.CajaPrincipal{
    width: 62.5%;/* 1200 * 100 / 1920 = 62.5%*/
    min-height: 520px;
    background-color: aquamarine;
}

aside{
    width: 10%; /*120px*/
    min-height: 480px;
    background-color: rgb(9, 107, 74);
    float: left;
    padding: 16.67% 16.67% 16.67% 16.67%; /* 60px*/

    h1{
        margin: 0;
    }

    ul{
        margin: 16.67% 0px 0px 0px;
        padding: 0;
        display: flex;
        flex-direction: column; 
        list-style: none;
        li{
            flex: 1 1 58.33%;
        }
    }
}

.CajaCentro{
    width: 40%; /*480x de 1200px*/
    min-height: 500px;
    background-color: rgb(61, 221, 61);
    float: left;
    padding: 4.17% 4.17% 0px 4.17%;
    img{
        width: 100%; /*480 = a todo el ancho*/
        height: 190px;
    }
    h3{
        margin: 0;
    }
    p{
        margin:0 0 4.17%;
    }
}

.CajaDerecha{
    width: 37.083%; /*445px de 1200*/
    background-color: rgb(223, 205, 47);
    float: left;
    padding: 4.494% 5.617% 0 2.247%; /* 20, 25, 10*/

    p{
        margin:0 0 4.494%;
    }
}

footer{
    width: 62.5%;
    height: 80px;
    background-color: brown;
    text-align: center;
    p{
        padding: 2.5% 0px 0px 0px; /**/
        margin: 0;
    }
}

